@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --color-selected: #D7BDE2;
  --color-call-to-action: #741384;
  --color-background-dark: #453E69;
  --color-background-light: #BB8FCE;
  --color-background-lighter: #E8DAEF;

  --font-family-title: 'Lobster', cursive;
  --font-family-text: 'Lato', sans-serif;

  --font-size-nav-title: 2.6rem;
  --font-size-nav-text: .9rem;
  --font-size-title: 3rem;
  --font-size-text: 1rem;
  --font-size-text-timer: 1.4rem;
  --font-size-tiny-text: .75rem;
  
  --font-weight-regular: 500;
  --font-weight-bold: 600;
  
  --line-height-title: 1;
  --line-height-text: 1.4;
  
  --gap-standard: 8%;
  --gap-form: 2%;
  --gap-form-tiny: 1%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: var(--line-height-text);
  font-size: var(--font-size-text);
  font-family: var(--font-family-text);
  background-color: var(--color-background-dark);
}

h1,
h2 {
  line-height: var(--line-height-title);
  font-size: var(--font-size-title);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-regular);
  padding-block: 1rem;
}

button {
  border-style: none;
  background: none;
  outline: none;
}

img {
  max-width: 100%;
}

button:active {
  box-shadow: none;
}

.nav-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  color: var(--color-background-lighter);
  font-size: var(--font-size-nav-text);
}

.inner-nav-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
}

.inner-nav--left {
  position: absolute;
  left: 0;
  width: fit-content;
}

.nav-container__title {
  position: absolute;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: 0.5s;
  font-size: var(--font-size-nav-title);
  width: fit-content;
}

.nav-container__login-buttons {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-standard);
  width: 25%;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

.inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 5vw;
  width: 90vw;
  height: 80vh;
  overflow: hidden;
  box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, .2);
}

.inner-container--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-standard);
  width: 75%;
  height: 75%;
}

.inner-container--central-content {
  display: flex;
  flex-direction: row;
  gap: var(--gap-standard);
  flex: 2;
  height: 100%;
}

.central-content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-standard);
  flex: 2;
  height: 100%;
  text-align: center;
  padding: 0 0 3%;
}

.dark-page {
  background-color: var(--color-background-dark);
  color: var(--color-background-lighter);
}

.light-page {
  background-color: var(--color-background-lighter);
  color: var(--color-background-dark);
}

.clickable {
  cursor: pointer;
}

.arrow-right {
  width: 1rem;
  height: 1rem;
  border-right: .1rem solid;
  border-top: .1rem solid;
  transform: rotate(45deg);
}

.arrow-left {
  width: 1rem;
  height: 1rem;
  border-left: .1rem solid;
  border-top: .1rem solid;
  transform: rotate(-45deg);
}

.dark-border {
  border-color: var(--color-background-dark);
}

.light-border {
  border-color: var(--color-background-lighter);
}

.content-highlight {
  font-weight: var(--font-weight-bold);
}

.selected {
  background-color: var(--color-selected);
}

.division {
  width: .1rem;
  height: 100%;
  background-color: var(--color-selected);
}

.content-topics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  list-style: url("../src/listIndicator.png");
  list-style-position: inside;
  text-align: left;
}

.content-topics__item {
  margin-bottom: 2%;
}

.centralize {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-margin {
  margin-top: var(--gap-form);
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.hide-in-desktop {
  display: none;
}

.hide-in-mobile {
  display: block;
}

.red-highlight {
  color: red;
}

.tiny-text {
  font-size: var(--font-size-tiny-text);
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 52.5rem) {
  :root {
    --font-size-nav-title: 1.65rem;
    --font-size-title: 1.75rem;
    --font-size-text-timer: 1.3rem;
    --font-size-text: 0.95rem;
  }

  .nav-container {
    position: fixed;
    box-shadow: none;
    transition: 0.5s;
  }

  .nav-container__login-buttons {
    display: none;
  }

  .container {
    flex-direction: column;
    height: fit-content;
    overflow-y: auto;
  }

  .inner-container {
    width: 100vw;
    height: fit-content;
    margin: 0;
    padding: 15% 0;
    box-shadow: none;
  }

  .arrow-right,
  .arrow-left {
    display: none;
  }

  .inner-container--central-content {
    flex-direction: column;
  }

  .division {
    width: 100%;
    height: .1rem;
    margin-bottom: 1rem;
  }

  .hide-in-desktop {
    display: block;
  }

  .hide-in-mobile {
    display: none;
  }

  .top-margin {
    margin-top: var(--gap-standard);
  }

  .box-shadow {
    box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, .2);
  }
}
