body {
  background-color: var(--color-background-lighter);
}

.top-margin-tiny {
  margin-top: var(--gap-form-tiny);
}

@media (max-width: 52.2rem) {
  .inner-container {
    height: 100vh;
  }
}