@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
  color: #273746;
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Lobster', cursive;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container__timer {
  position: relative;
  width: 250px;
  height: 250px;
  padding: 50px;
  border-radius: 0px 10px 10px 10px;
  background-color: #BB8FCE;
}

.container__options-custom {
  position: absolute;
  z-index: -1;
  top: 10px;
  display: flex;
  justify-content: space-around;
  width: 200px;
  height: 30px;
  padding: 10px 40px 10px 10px;
  border-radius: 0 10px 10px 0;
  background-color: #E8DAEF;
}

.container__options-custom-item {
  width: 50px;
  margin: 1%;
}

.open__options-custom {
  position: absolute;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 50px;
  border-radius: 0 10px 10px 0;
  background-color: #E8DAEF;
}

.stick {
  position: relative;
  width: 4px;
  height: 17px;
  background-color: #BB8FCE;
}

.upper {
  top: 2px;
}

.lower {
  bottom: 2px;
}

.rotate-right {
  transform: rotateZ(-30deg);
  transition: 0.5s;
}

.rotate-left {
  transform: rotateZ(30deg);
  transition: 0.5s;
}

.first {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}

.second {
  position: relative;
  display: flex;
  flex-direction: column;
}

.container__options {
  position: absolute;
  top: -50px;
  left: 0;
  display: flex;
  width: 200px;
  height: 50px;
  border-radius: 10px 10px 0 0;
  background-color: #BB8FCE;
  overflow: hidden;
  background-color: #E8DAEF;
}

.container__options-item {
  width: 100%;
  height: 100%;
  padding: 1%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.timer {
  text-align: center;
}

.container__buttons {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.selected {
  background-color: #D7BDE2;
  transition: 0.5s;
}

.clickable {
  cursor: pointer;
}

.division {
  width: 8%;
}

.open {
  right: -250px;
  transition: 0.25s;
}

.close {
  right: -40px;
  transition: 0.25s;
}