@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
  color: #273746;
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Lobster', cursive;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container__timer {
  position: relative;
  width: 250px;
  height: 250px;
  padding: 50px;
  border-radius: 0px 10px 10px 10px;
  background-color: #BB8FCE;
}

.container__options {
  position: absolute;
  top: -50px;
  left: 0;
  display: flex;
  width: 200px;
  height: 50px;
  border-radius: 10px 10px 0 0;
  background-color: #BB8FCE;
  overflow: hidden;
  background-color: #E8DAEF;
}

.container__options-item {
  width: 100%;
  height: 100%;
  padding: 1%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.timer {
  text-align: center;
}

.container__buttons {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.selected {
  background-color: #D7BDE2;
}

.clickable {
  cursor: pointer;
}

.division {
  width: 8%;
}

.clear-both {
  clear: both;
}