@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #453E69;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  height: 100vh;
}

.inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 80vw;
  height: 70vh;
  margin: 0 10vw;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, .2);
}

.dark-page {
  background-color: #453E69;
}

.light-page {
  background-color: #E8DAEF;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;
  width: 75%;
  height: 75%;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.timer-header {
  text-align: center;
  color: #E8DAEF;
}

.timer-header--title {
  font-family: 'Lobster', cursive;
  font-weight: 500;
  font-size: 3rem;
}

.timer-body {
  color: #273746;
  font-weight: bold;
  width: 15em;
  height: fit-content;
}

.timer__options {
  display: flex;
  width: 70%;
  height: 2.5rem;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  background-color: #E8DAEF;
}

.timer__options--item {
  width: 100%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.timer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0.9em;
  background-color: #BB8FCE;
  border-radius: 0 1rem 1rem;
  box-shadow: .2rem .2rem 1rem .1rem rgba(0, 0, 0, 0.2);
}

.timer__content--item {
  margin: 1rem;
}

.timer__content--buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.timer__content--button-item {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.selected {
  background-color: #D7BDE2;
  transition: 0.5s;
}

.clickable {
  cursor: pointer;
}

.content {
  background-color: #E8DAEF;
  color: #273746;
  text-align: center;
}

.content__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50%;
  max-width: 80%;
  /* margin: 2rem; */
  font-weight: 500;
  font-size: 1.4rem;
}

.content-title {
  margin: 2rem;
}

.content-highlight {
  font-weight: 600;
}

.content-topics {
  width: fit-content;
  list-style: none;
  margin: 2rem;
}

.content-topics__item {
  text-align: left;
}

.footer {
  height: 50vh;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  color: #273746;
  background-color: #BB8FCE;
}

.footer-content {
  margin: 2rem;
}