@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #453E69;
}

.container {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 80vw;
  height: 70vh;
  margin: 0 10vw;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, .2);
}

.dark-page {
  background-color: #453E69;
  color: #E8DAEF;
}

.light-page {
  background-color: #E8DAEF;
  color: #453E69;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8%;
  width: 75%;
  height: 75%;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.timer-header {
  text-align: center;
  color: #E8DAEF;
}

.timer-header--title {
  font-family: 'Lobster', cursive;
  font-weight: 500;
  font-size: 3rem;
}

.timer-body {
  width: 15rem;
  height: fit-content;
  font-weight: bold;
  color: #273746;
}

.timer__options {
  display: flex;
  flex-shrink: 0;
  width: 70%;
  height: fit-content;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  font-size: large;
  background-color: #E8DAEF;
}

.timer__options--item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5%;
}

.timer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.9rem;
  border-radius: 0 10px 10px;
  box-shadow: .2rem .2rem 1rem .1rem rgba(0, 0, 0, 0.2);
  font-size: x-large;
  background-color: #BB8FCE;
}

.timer__content--item {
  margin: 1rem;
}

.timer__content--buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.timer__content--button-item {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.selected {
  background-color: #D7BDE2;
  transition: 0.5s;
}

.clickable {
  cursor: pointer;
}

.arrow {
  width: 1rem;
  height: 1rem;
}

.right {
  border-right: 1px solid #E8DAEF;
  border-top: 1px solid #E8DAEF;
  transform: rotate(45deg);
}

.left {
  border-left: 1px solid #E8DAEF;
  border-top: 1px solid #E8DAEF;
  transform: rotate(-45deg);
}

.hidden {
  visibility: hidden;
}